.dropdown #list a{
    display: block;
    clear: both;
    margin: 0px;
    padding: 10px 20px 10px 20px;
    color: white;
    background: #929292;
    box-shadow: 10px 10px 5px #212121;
}
.dropdown{
    float: left;
}
.dropdown #title{
    margin: 0px;
    padding: 10px 20px 10px 20px;
    color: white;
    background: #323232;
}
.dropdown #title:hover{
    color: red;
}
.dropdown #list{
    display:none;
}
.dropdown #list a:hover{
    color: blue;
}
html{
    background: #323232;
}